<h1>Edit Artist Page</h1>
<%= form_with model: @artist, url: artist_path(@artist), method: :patch, local: true, scope: :artist do |form| %>
  <%= form.text_field :name, id: :name %>
  <%= form.submit "Submit" %>
<% end %>
