<h1>Instrumements</h1>
<br/>
<ul>
  <% @instruments.each do |instrument| %>
    <li><%= instrument.name %></li>
    <li><%= link_to instrument_path(instrument), instrument.name %></li>
  <% end %>
</ul>
