<h1>ArtistInstruments</h1>
<ul>
  <% @artist_instruments.each do |artist_instrument| %>
    <%= link_to artist_instrument.artist.name, artist_path(artist_instrument.artist) %> - 
    <%= link_to artist_instrument.instrument.name, instrument_path(artist_instrument.instrument) %> - 
    <%= button_to "Delete ArtistInstrument", artist_instrument_path(artist_instrument), method: :delete %>
  <% end %>
</ul>
<%= link_to "New Artist-Instrument Form", new_artist_instrument_path %>
